---
layout: default
---

<article role="article">
  {% if page.title %}
  <header>
    <div class="jumbotron">
      {{ page.display_title | default: page.title | escape }}
    </div>
    {% if page.date %}<p class="meta"><time datetime="{{ page.date | date_to_xmlschema }}" pubdate></time></p>{% endif %}
  </header>
  {% endif %}
  {{ content }}
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
