---
layout: default
single: true
---
<article class="hentry">
  {% include article.html %}
  <footer class="post-footer">
    {% unless page.sharing == false %}{% include post/sharing.html %}{% endunless %}
    <nav aria-label="Adjacent articles">
      {% if page.previous.url %}<a href="{{ page.previous.url | relative_url }}">&laquo; {{ page.previous.title | escape }}</a>{% endif %}
      {% if page.next.url %}<a href="{{ page.next.url | relative_url }}">{{ page.next.title | escape }} &raquo;</a>{% endif %}
    </nav>
  </footer>
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section aria-label="Comments">
    <h2>Comments</h2>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
