<ul class="nav">
<div class="AW-Form-1479709334"></div>
<script type="text/javascript">(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//forms.aweber.com/form/34/1479709334.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "aweber-wjs-j22dfsu6o"));
</script>
    {% for link in site.navigation %}
        <li {% if page.url == link.url %}class="active"{% endif %}><a href="{{ link.url }}">{{ link.text }}</a></li>
    {% endfor %}
</ul>
