{% if site.disqus_short_name and page.comments != false %}
<script>
{% if page.comments == true %}
  // The HTTP identifier is historical; changing it would disconnect existing discussions.
  var disqus_identifier = 'http://beckerfuffle.com{{ page.url }}';
  var disqus_url = '{{ page.url | absolute_url }}';
{% endif %}
  (function () {
    var script = document.createElement('script');
    script.async = true;
    script.src = 'https://{{ site.disqus_short_name }}.disqus.com/{% if page.comments == true %}embed{% else %}count{% endif %}.js';
    document.body.appendChild(script);
  }());
</script>
{% endif %}
